#top{
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-end; 
  align-items: center;
  margin-right: 20px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid lightgray;
}
#top i{
    margin-right: 20px;
}
#top img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#main{
    width: 95vw;
    margin: 0 auto;
}
#order-details-container{
    margin-top: 10px;
    background-color: #fff;
}
#search-and-add{
    margin-top: 10px;
    background-color: #fff;
    padding: 15px 100px 40px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#search-and-add p{
    font-size: 1.2rem;
    font-weight: bold;
}
#search-container{
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#search-container input{
    width: 30vw;
}
#search-container button{
    margin-left: 15px;
    
}
.bg-col{
    background-color: #002EAD;
}

@media screen and (max-width: 480px) {
    #search-container{
        width: 95vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #search-container input{
        width: 70vw;
    }
    #search-container button{
        margin-left: 0;
        margin-bottom: 10px;
    }
  }